/* Add here all your CSS customizations */

.image-to-greyscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

::selection {
    color: #fff;
    background: #1abc9c;
}

.thumb-info:hover img {
	-webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.owl-item {
    -webkit-user-drag: element;
}

#footer .footer-copyright p, .footer-misc {
    color: #fff;
}

.logo-link:hover {
    text-decoration: none;
}

.logo-link h2 {
    color: #fff !important;
    font-weight: 700;
    margin: 0 0 32px 0;
}

.header-nav-main nav > ul > li > a.active {
    color: #fff !important;
    text-decoration: underline;
    text-underline-position: under;
}

@media screen and (max-width: 860px) {
    /* [id^=revolutionSlider] {
        height: 300px !important;
    } */
    .tech_stack .tech_stack_item {
        margin: 10px;
        width: 50px;
    }
}

.forcefullwidth_wrapper_tp_banner {
    background-color: #000;
}

.header-common {
    height: 100vh !important;
}


/* @media screen and (max-width: 1007px) and (min-width: 641px) {
    [id^=revolutionSlider] {
        height: 500px !important;
    }
} */

#footer  {
    padding: 0 !important;
}

#footer a:hover {
    text-decoration: none;
}

#footer .container .row > div {
    margin-bottom: 0px;
    margin-top: 20px;
}

#footer p, hr {
    margin-bottom: 0px;
}


.tech_stack {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.tech_stack_item {
    min-width: 0;
    margin: 25px;
}

.tech_stack_item img {
    width: 80px;
    height: 80px;
   max-width: 100%; 
   max-height: 100px;
    
}

h2 {
    margin: 32px 0 32px 0;
}

.mt-5, .my-5 {
    margin-top: 0;
}

.white {
    color: #fff !important;
}

#home-intro {
    background-image: url('../img/slides/background110.png');
    margin-bottom: 0;
}

.tp-caption.main-label {
    line-height: 80px !important;
}