/* Add here all your CSS customizations */

.image-to-greyscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.image-to-greyscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

::selection {
    color: #fff;
    background: #D7624E;
}