.VenetianBlindsAnimation {
    display:inline-block;
    width:440px;
    height:440px;
    box-sizing:border-box;
    position:relative;
  }
  
  .column, .blind, .blindImg{
    position:absolute;
    top:0;
    height:100%;
    box-sizing:border-box;
  }
  
  .blind{
    overflow:hidden;
  }
  
  .blindImg{
    width:100%;
    background-size:cover;
  }
  